{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% for object in object_list %}
        <div class="col-4 mb-5">
            <div class="card" style="width: 18rem;">
                <img src="{{ object.thumbnail.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="{{ object.get_absolute_url }}">
                        <h5 class="card-title">{{ object.title }}</h5>
                    </a>
                    <p class="card-text">{{ object.content|truncatechars:20 }}</p>
                    <hr>
                    <p class="card-text">
                        <span><i class="far fa-eye ml-2"></i> {{ object.get_postview_count }}</span>
                        <span><i class="far fa-thumbs-up ml-2"></i> {{ object.get_like_count }}</span>
                        <span><i class="far fa-comments ml-2"></i> {{ object.get_comment_count }}</span>
                    </p>
                    <p class="card-text">
                        Posted {{ object.publish_date|timesince }} ago
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}