{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-4 offset-4">
        <div class="card" style="padding: 10px;">
            <h1 style="padding: 10px;">{{ object.title|title }}</h1>
            <img src="{{ object.thumbnail.url }}" class="card-img-top" alt="...">
            <hr>
            <div style="padding: 10px;">
                <span><i class="far fa-eye ml-2"></i> {{ object.get_postview_count }}</span>
                <span><i class="far fa-thumbs-up ml-2"></i> {{ object.get_like_count }}</span>
                <span><i class="far fa-comments ml-2"></i> {{ object.get_comment_count }}</span>
                <span class="float-right">Posted {{ object.publish_date|timesince }} ago</span>
            </div>
            <hr>
            <div>
                <p>{{ object.content }}</p>
            </div>
            <hr>
            <h4>Enjoyed this post? Give it a like</h4>
            <a href="{{ object.get_like_url }}" class="text-muted"><i class="far fa-thumbs-up fa-lg"></i>
                {{ object.get_like_count }}
            </a>
            <hr>
            {% if request.user.is_authenticated %}
            <h4>Leave a comment below</h4>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Comment</button>
            </form>
            <hr>
            <h5>Comments</h5>
            {% for comment in object.comments %}
            <div>
                <p>{{ comment.content }}</p>
                <small>{{ comment.timestamp|timesince }} ago</small>
            </div>
            <hr>
            {% endfor %}
            {% else %}
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-block">Login to comment</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}