{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Are you sure you want to delete this post?</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm</button>
    </form>
</div>
{% endblock content %}