{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="col-md-6 offset-md-3">
        <h1>{{ view_type|title }} View</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">{{ view_type|title }}</button>
        </form>
    </div>
</div>
{% endblock content %}